
<nav style="background-color: darkgreen;">
    <ul class=" m-2 nav">
        <li class="nav-item">
            <a class="nav-link " style="color: yellow;"
                href="/home">Trang chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: yellow;" href="/shop">Sản
                phẩm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: white;" href="/add-product">Thêm
                sản phẩm</a>
        </li>
    </ul>
</nav>